<table mat-table [dataSource]="books()" class="books-table">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let book">{{ book.title }}</td>
  </ng-container>

  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef>Author</th>
    <td mat-cell *matCellDef="let book">{{ book.authorName }}</td>
  </ng-container>

  <ng-container matColumnDef="genre">
    <th mat-header-cell *matHeaderCellDef>Genre</th>
    <td mat-cell *matCellDef="let book">
      <span class="genre-badge">{{ book.genre }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let book">{{ book.price | currency }}</td>
  </ng-container>

  <ng-container matColumnDef="published">
    <th mat-header-cell *matHeaderCellDef>Published</th>
    <td mat-cell *matCellDef="let book">{{ book.published | date:'MMM yyyy' }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let book">
      <button mat-icon-button (click)="onEdit($event, book)" aria-label="Edit book">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onDelete($event, book.id)" aria-label="Delete book">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let book; columns: displayedColumns"
    (click)="onRowClick(book)"
    class="clickable-row"
  ></tr>
</table>
