<header>
  <mat-toolbar color="primary">
    <button matIconButton class="menu-icon" aria-label="Icon-button with menu icon">
      <mat-icon class="white-icon">menu</mat-icon>
    </button>
    <a routerLink="/books" class="title-link">
      <span>Packt Bookstore</span>
    </a>
    <span class="spacer"></span>
    <button matIconButton class="favorite-icon" aria-label="Icon-button with heart icon" color="accent">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-button routerLink="/auth/login" class="login-button" aria-label="Login to your account">
      <mat-icon>account_circle</mat-icon>
      Login
    </button>
  </mat-toolbar>
</header>
