.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  font-size: 0.875rem;
  padding: 0 1rem;
}

.spacer {
  flex: 1 1 auto;
}

a[mat-button] {
  color: white;
  text-decoration: none;
}
